<h2>{{ group.name }}</h2>
<p>Created by: {{ group.created_by.username }}</p>
<p>Members:
  {% for user in group.users.all %}
    {{ user.username }}{% if not forloop.last %}, {% endif %}
  {% endfor %}
</p>
<h3>Items</h3>
<ul>
  {% for item in items %}
    <li>{{ item.name }}: {{ item.description }}</li>
  {% endfor %}
</ul>
{% if request.user == group.created_by %}
  <a href="{% url 'add_member' group.id %}">Add Members</a>
  <a href="{% url 'remove_member' group.id %}">Remove Members</a>
{% endif %}